/public
/resources/_gen
.hugo_build.lock

# test output
test/__image_snapshots__/__diff_output__

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
.DS_Store
dist/
coverage/
logs/
*.log
*.tsbuildinfo
